


<style>
html,
body,
#Map {
  height: 90%;
  width: 90%;
  margin: 0px;
  padding: 10px
}

</style>
<h1> Welcome to Restorent Locator</h1>
    
<div id="hotel"></div>
<div id="Map"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" ></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmBFe4k6_hcqTuP_5yZvKYjWbLi8I9RE&libraries=places">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type = "text/javascript"></script>

<script type="text/javascript" >

var map1;
var infowindow;
var pyrmont = {
  lat: 12.9719400,
  lng:  77.5936900
};

function initMap() {

  map1 = new google.maps.Map(document.getElementById('Map'), {
    center: pyrmont,
    zoom: 15
  });

  // infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map1);
  service.nearbySearch({
    location: pyrmont,
    radius: 800,
    type: ['lodging']
  }, callback);
}

function callback(results, status) {
  if (status === google.maps.places.PlacesServiceStatus.OK) {
    var hotelname = ''; 
    for (var i = 0; i < results.length; i++) {
      // createMarker(results[i]);
      var name = results[i]['name'];
      var photo = null;
      if (results[i].photos && (results[i].photos.length > 0)) {
      var photo = results[i]['photos'][0].getUrl({maxWidth: 100});
      }  
      
      if (i < 6) {
        hotelname += '<img src="'+ photo +'" />';
        hotelname += '<span class="">' + name + '</span><br>';
        }
    }
    $("#hotel").html(hotelname);
  }
}
google.maps.event.addDomListener(window, "load", initMap);
    
</script>