



    <div class="copyright w3-agile" style="vertical-align: text-bottom;margin-top:120px;">
	        <span>
	        <p> © 2017 Best Restorent Booking App. All rights reserved | Design by <a href="/locator" >Kibbcom</a></p>
	        </span>
    </div>