   

    <div class="section" style="margin-top:100px;">
    	<a href="/locator">
    	<h3 style="color:#000;" class="text-center"><strong>Well Done!</strong></h3>
        <h2 style="color:#000;" ><strong>Thanks for Booking Order</strong> </h2>
        <div align="center">
        <i class="fa fa-thumbs-up fa-5x fa-lg " alt="Foods at your Thumbs" style="font-size:10em;margin-top: 30px;color: #e40672; margin-bottom:10%;" aria-hidden="true"></i>
        </a>
        </div>
    </div>
