
<h1> Sign Up New User  </h1>
    <div class="bg-agile">
	<div class="book-reservation">
			<form action="/locator" method="post">
					<div class="form-date-w3-agileits">
						<label><i class="fa fa-user" aria-hidden="true"></i> Name :</label>
						<input type="text" name="name" placeholder="Your name" required=""/>
					</div>
					<div class="form-date-w3-agileits">
						<label><i class="fa fa-envelope" aria-hidden="true"></i> Email :</label>
						<input type="email" name="email" placeholder="Your email" required="" />
					</div>
					 
					<div class="form-date-w3-agileits">
						<label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Password :</label>
						<input placeholder="Password"  type="password" required="">
					</div>
					<div class="form-date-w3-agileits">
						<label><i class="fa fa-unlock-alt" aria-hidden="true"></i>  Re-Enter Password :</label>
						
						<input placeholder="Confirm Password"  type="password" required="">
					</div>
					
					
					<div class="clear"> </div>
					<div class="make">
						  <input type="submit" value="Sign Up">
					</div>
			</form>
		</div>
   </div>
   