        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb30">
                        <h3>About Us</h3>
                        <p>
                             Truneto provides residential Painting, Cleaning, Plumbing, Electrical repair, installations & many more. Truneto is recognized as the fastest growing startup in India.
                        </p>
                        <ul class="list-inline f-social">
                            <li><a href="https://www.facebook.com/zinetgo" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/ZinetGo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/17878438" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/zinetgonline" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://plus.google.com/113646079003834560272"target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                       
                       
                    </div>
                    <div class="col-md-4 mb30">
                        <h3>Support Information</h3>
                        <p>
                            <small>Address:</small><br>
                            <a href="https://www.google.co.in/maps/place/Zinetgo/@12.908068,77.5755153,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae156e69e27911:0x3dadcfc57d5eda8!8m2!3d12.908068!4d77.577704" target="_blank"> 
                                <span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
                                <span class="adr-group">       
                                    <span class="street-address">#303, JC Residency, 2-21/2</span><br />
                                    <span class="city">Sarakki Main Road, JP Nagar</span><br />
                                    <span class="postal-code"> 1<sup>st</sup> Phase, Bangalore, KA</span><br />
                                    <span class="country-name">PIN - 560078</span>
                                </span> 
                            </a>
                        </p>
                        <p>
                            <san> <i class="fa fa-phone fa-x" aria-hidden="true"></i>
                            <a href="tel:+918026644556">+91 802 664 4556</a>
                        </p>
                        <p>
                            <san> <i class="fa fa-whatsapp fa-x" aria-hidden="true"></i>
                            <a href="intent://send/9868551406#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">  +91 986 855 1406 </a> </span>
                        </p>
                        <p>
                            <i class="fa fa-envelope fa-x" aria-hidden="true"></i>
                            <a href="mailto:ps@zinetgo.com">ps@zinetgo.com</a>
                        </p>    
                    </div>
                    <div class="col-md-4 mb30">
                        <h3>useful links</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="f-links list-unstyled">
                                    <li><a href="index-2.html#">Restaurants</a></li>
                                    <li><a href="index-2.html#">News</a></li>
                                    <li><a href="index-2.html#">Deal & Coupons</a></li>
                                    <li><a href="index-2.html#">About</a></li>
                                    <li><a href="index-2.html#">Restaurants</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="f-links list-unstyled">
                                    <li><a href="index-2.html#">Shop</a></li>
                                    <li><a href="index-2.html#">Cinemas</a></li>
                                    <li><a href="index-2.html#">Contact Us</a></li>
                                    <li><a href="/privacy-&-policy">Privacy & policy</a></li>
                                    <li><a href="/terms-&-condition">T & C</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                  <small class="copyright text-center">&copy; <%= new Date().getFullYear(); %> Truneto Professional Services. All rigths reserved. Powered by <a href="https://www.zinetgo-services.com" target="_blank"><span style="color:#2D67B2 !important">Zinet</span><span style="color:#F36825 !important">Go</span></a>
                  </small>   
            </div>
        </footer>