<!-- Preloader -->
<div id="preloader"></div>
        <!-- /static navbar --> 
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/">Home 
                            
                            </a>
                           
                        </li>
                        <li><a href="/listing-grid-sidebar">Services</a></li>
                        <li class="dropdown">
                            <a href="index-2.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listing <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add-listing">Add Listing</a></li>
                                <li><a href="/listing-grid">Listing Grid fullwidth</a></li>
                                <li><a href="/listing-grid-sidebar">Listing Grid + Sidebar</a></li>
                                <li><a href="/listing-map">With Map</a></li>
                                <li><a href="/listing-row">Row full width</a></li>
                                <li><a href="/listing-row-sidebar">Row + Sidebar</a></li>
                                <li><a href="/service-details">Listing Detail</a></li>
                                <li><a href="/agents">Agent Listing</a></li>
                                <li><a href="/single-agent">Agent Detail</a></li>
                                <li><a href="/profile">My Profile</a></li>
                            </ul>
                        </li>
                        <li class="dropdown mega-li">
                            <a href="/locations" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations <span class="caret"></span></a>
                            <ul class="dropdown-menu mega-dropdown-menu">
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <h5>New York</h5>
                                                <ul class="list-unstyled">
                                                    <li><a href="/locations">Brooklyn</a></li>
                                                    <li><a href="/locations">Manhattan</a></li>
                                                    <li><a href="/locations">Queens</a></li>
                                                    <li><a href="/locations">Bronx</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <h5>London</h5>
                                                <ul class="list-unstyled">
                                                    <li><a href="/locations">Croydon</a></li>
                                                    <li><a href="/locations">Epsom</a></li>
                                                    <li><a href="/locations">Camberley</a></li>
                                                    <li><a href="/locations">Bracknell</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <h5>Paris</h5>
                                                <ul class="list-unstyled">
                                                    <li><a href="/locations">Grenelle</a></li>
                                                    <li><a href="/locations">Luxembourg</a></li>
                                                    <li><a href="/locations">Place De La Bastille</a></li>
                                                    <li><a href="/locations">Grand Palais</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <h5>Madrid</h5>
                                                <ul class="list-unstyled">
                                                    <li><a href="/locations">Centro</a></li>
                                                    <li><a href="/locations">Retiro</a></li>
                                                    <li><a href="/locations">Chamberi</a></li>
                                                    <li><a href="/locations">Dos De Mayo Plaza</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="/about">About us</a></li>
                                <li><a href="/how-we-work">How it work</a></li>
                                <li><a href="/pricing">Pricing</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/error">Error 404</a></li>
                                    <li class="divider"></li>
                                 <li><a href="/typography">Typography</a></li>
                                  <li><a href="/grid-system">Grid system</a></li>
                            </ul> 
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li class="button-navbar"><a href="/add-listing"><i class="fa fa-plus"></i> Add Listing</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>