

        <div class="page-bread mb70">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>About us</h3>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </div>
        <div class="container mb40">
            
<!--              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
                    <h2>Who we are?</h2>
                    <p align="justify">
                  Truneto is recognized as the best servicing startup in India. We are a mobile marketplace for local services. We help customers hire trusted professionals for all their service needs.  </p>
                </div>
            </div>
            <div class="row mb40">
                <div class="col-sm-4 mb30 text-center icon-box">
                    <i class="fa fa-envelope"></i>
                    <h4 class="font300">Email Support</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                </div>
                 <div class="col-sm-4 mb30 text-center icon-box">
                    <i class="fa fa-code-fork"></i>
                    <h4 class="font300">Modern Framework</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                </div>
                 <div class="col-sm-4 mb30 text-center icon-box">
                    <i class="fa fa-code"></i>
                    <h4 class="font300">Free updates</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                </div>
            </div>
 -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
                    <h2>Our Growth story so far...</h2>
                    <p align="justify">
                     Truneto is recognized as the best servicing startup in India. We are a mobile marketplace for local services. We help customers hire trusted professionals for all their service needs. We are staffed with young, passionate people working tirelessly to make a difference in the lives of people by catering to their service needs at their doorsteps. Be it getting a plumbing job done, improving your fitness through yoga, learning to play the guitar, decorating your home or getting candid photos of your wedding clicked, we are a sure shot destination for your service needs. 
                    </p>
                </div>
            </div>
            <div class="row mb40">
                <div class="col-sm-4 mb30 text-center icon-box">
                    <i class="fa fa-thumbs-o-up"></i>
                   <!--  <b><h3 class=" text-primary">Our Investors & Vendors</h3></b> -->
                    <p><h3 class="font300">500 +</h3></p>
                    <p><h3> Trusted Professionals</h3></p>
                </div><!--/col-->
                 <div class="col-sm-4 mb30 text-center icon-box">
                    <i class="fa fa-users"></i>
                    <p><h3 class="font300">10000+</h3></p>
                    <p><h3> Happy Customers +</h3></p> 
                </div><!--/col-->
                 <div class="col-sm-4 mb30 text-center icon-box">
                    <i class="fa fa-signal"></i>
                    <p><h3 class="font300">5 +</h3></p>
                    <p><h3>Cities in a Year </h3></p> 
                </div><!--/col--> 
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
                    <h1 class="text-center"> <small> You could be a part of our journey. Interested?...</small></h1>
                    <p class="text-center">
                        <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a> 
                    </p>
                </div>
            </div>

            <hr class="mb70">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
                    <h2>Meet the  visionaries</h2>
               </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av1.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">John Doe</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
                 <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av2.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">Emily Doe</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
                 <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av3.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">Jonathan Doe</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
                 <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av4.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">Nikita Miller</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
            </div>

             <hr class="mb70">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
                    <h2>Our Investors</h2>
               </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av1.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">John Doe</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
                 <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av2.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">Emily Doe</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
                 <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av3.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">Jonathan Doe</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
                 <div class="col-sm-3 mb30">
                    <div class="team-card">
                        <img src="images/av4.jpg" alt="" class="img-responsive">
                        <div class="team-overlay">
                            <ul class="list-inline">
                                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="about.html#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="team-content">
                        <h3 class="font300 mb0">Nikita Miller</h3>
                        <em>Project Manager</em>
                    </div>
                </div><!--/col-->
            </div>
        </div>
<div class="bg-faded pt80 pb40 mb70 ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb30">
                        <div class="icon-center-card">
                            <i class="fa fa-envelope-o"></i>
                            <h3>Full support</h3>
                            <p>
                               We provide high quality &trusted professionals, we provide only verified, background checked and high quality professionals. </p>
                            <a href="/about#">Read More...</a>
                        </div>
                    </div><!--/col-->
                    <div class="col-sm-4 mb30">
                        <div class="icon-center-card">
                            <i class="fa fa-map-marker"></i>
                            <h3>More than 200 places</h3>
                            <p>
                                Hassle Free Service Delivery with
                                Super convenient, guaranteed service from booking to delivery. 
                            </p>
                            <a href="/about">Read More...</a>
                        </div>
                    </div><!--/col-->
                    <div class="col-sm-4 mb30">
                        <div class="icon-center-card">
                            <i class="fa fa-code"></i>
                            <h3>Free updated</h3>
                            <p>
                                Matched to Your Needs.
                                We match you with the right professionals with the right budget </p>
                            <a href="/about">Read More...</a>
                        </div>
                    </div><!--/col-->
                </div>
            </div>
        </div>        
<div class="gray-bg pt40 pb40 newsletter-form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    <p>
                        <h3 class="text-primary">
                            Subscribe and be notified about new Services</h3>
                    </p>        
                    </div>
                    <div class="col-sm-6">
                        <div class="newsletter-card">                          
                            <form>
                                <input type="text" class="form-control" placeholder="Enter your Email...">
                                <input type="submit" value="Subscribe" class="newsletter-submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
