

        <div class="page-bread mb70">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb40">
            <div class="row">
                <div class="col-sm-4 mb30">
                    <div class="contact-details">
                        <h3 class="font300 mb0">Contact Information</h3>
                        <p>
                            <small>Address:</small><br>
                            <a href="https://www.google.co.in/maps/place/Zinetgo/@12.908068,77.5755153,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae156e69e27911:0x3dadcfc57d5eda8!8m2!3d12.908068!4d77.577704" target="_blank"> 
                                <span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
                                <span class="adr-group">       
                                    <span class="street-address">#303, JC Residency, 2-21/2</span><br />
                                    <span class="city">Sarakki Main Road, JP Nagar</span><br />
                                    <span class="postal-code"> 1<sup>st</sup> Phase, Bangalore, KA</span><br />
                                    <span class="country-name">PIN - 560078</span>
                                </span> 
                            </a>
                        </p>
                        <p>
                            <san> <i class="fa fa-phone fa-x" aria-hidden="true"></i>
                            <a href="tel:+918026644556">+91 802 664 4556</a>
                        </p>
                        <p>
                            <san> <i class="fa fa-whatsapp fa-x" aria-hidden="true"></i>
                            <a href="intent://send/9868551406#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">  +91 986 855 1406 </a> </span>
                        </p>
                        <p>
                            <i class="fa fa-envelope fa-x" aria-hidden="true"></i>
                            <a href="mailto:ps@zinetgo.com">ps@zinetgo.com</a>
                        </p>    
                        <br>
                        <ul class="list-inline">
                             <li><a href="https://www.facebook.com/zinetgo" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="https://twitter.com/ZinetGo" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/17878438" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="https://www.instagram.com/zinetgonline" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://plus.google.com/113646079003834560272"target="_blank"><i class="fa fa-google-plus-official"></i></a></li> 
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-2">
                    <h3 class="font300 mb0">Leave a message</h3><hr>
                     <form method="post" action="contact.html#" class="finder-contact">
                        <div class="row">
                            <div class="col-sm-12"> 
                                <div class="row">
                                    <div class="col-sm-6 mb15">
                                        <input type="text" name="name" class="form-control" placeholder="Full Name...." />
                                    </div>
                                    <div class="col-sm-6 mb15">
                                        <input type="text" name="email" class="form-control" placeholder="Email Address...." />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb15">
                                        <input type="Number" min="1" max="+919999999999"name="mobile" class="form-control" placeholder="Your Mobile Number...." />
                                    </div>
                                    <div class="col-sm-6 mb15">
                                        <input type="text" name="city" class="form-control" placeholder="Your City...." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb15">
                                <textarea name="message" class="form-control" rows="5" placeholder="Message...."></textarea>                                  
                            </div>
                        </div>
                        <div class="row mb15">
                            <div class="col-sm-12 text-center">
                                <div class="data-status"></div> <!-- data submit status -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" name="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mb70">
            <iframe height="450" frameborder="0" style="border:0;width:100%;" class="mb0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9945246465004!2d77.57550994994159!3d12.908073219717972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9cace9ebedb86296!2sHurreh+Technologies+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1495603423125
            " allowfullscreen>
            </iframe>

        </div>
