

        <!--fullscreen image-->
        <div class="fullscreen-parallax bg-parallax parallax-overlay"   data-jarallax='{"speed": 0.3}' style='background-image: url(images/bg2.jpg)'>
            <div class="fullscreen-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <h1>Your Service Expert</h1>
                                <p class="mb20"> Get instant access to reliable and affordable services with Truneto that included modern &amp; high quality services</p>
                                
                                    <form>
                                       <div class='row'>
                                        <div class="col-md-3 col-sm-6"></div>
                                            <div class="col-md-3 col-sm-6 form-hero-multi">
                                            <div class="form-group">
                                                <select class="form-control" title="Your current city">                                       
                                                    <option>Paris</option>
                                                    <option>London</option>
                                                    <option>New York</option>
                                                    <option>Tokyo</option>
                                                </select>
                                            </div>
                                        </div>
                                            <div class="col-md-3 col-sm-6 form-hero-multi">
                                            <div class="form-group">                           
                                                <input type="text" class="form-control" placeholder="Search for your services...">
                                            </div>
                                        </div>
                                        
                                       <!--  <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <select class="form-control" title="Category">                                       
                                                    <option>Restaurants</option>
                                                    <option>Jobs</option>
                                                    <option>Property</option>
                                                    <option>Automotive</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-3 col-sm-6">
                                            <input type="button" class="btn btn-dark btn-block" value="Search">
                                        </div> -->
                                       </div>
                                    </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             <div class="container ">
             <div class="row clients-row">
                <div class="col-md-2 col-sm-4">
                    <a href="index-3.html#"><img src="images/cl1.png" alt="" class="img-responsive">
                    <!-- <c> Home Services & Repairs</c>   -->  
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="index-3.html#"><img src="images/cl2.png" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="index-3.html#"><img src="images/cl3.png" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="index-3.html#"><img src="images/cl4.png" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="index-3.html#"><img src="images/cl2.png" alt="" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="index-3.html#"><img src="images/cl5.png" alt="" class="img-responsive"></a>
                </div>
            </div>
        </div>
        <div class="gray-bg pt30 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40">
                        <h2>Most Popular Services</h2>
                        <!-- <p>
                            List most recent places are submitted by our users. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p> -->
                    </div>
                </div><!--/row-->
                <div class="row">
                <p> <h3 class="text-primary">&nbsp;&nbsp;Party and Event Services</h3>
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/event1.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="index-3.html#">Party</a>
                                    <h3><a href="/service-details">Birthday Party Planner</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/event2.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Catering</a>
                                    <h3><a href="/service-details">Party Caterer</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/event3.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Photography</a>
                                    <h3><a href="/service-details">Event Photographer</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/event4.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Makeup</a>
                                    <h3><a href="/service-details">Party Makeup Artist</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </p>    
                </div>
                <div class="text-center mb40">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>
                <div class="row">
                <p> <h3 class="text-primary">&nbsp;&nbsp;Home Design & Construction</h3>
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/home-design1.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Kitchens setup</a>
                                    <h3><a href="/service-details">Modular Kitchens</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/home-design2.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Construction</a>
                                    <h3><a href="/service-details">Construction and Renovation</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/home-design3.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Installations</a>
                                    <h3><a href="/service-details">CCTV Cameras and Installation</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/home-design4.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Designer</a>
                                    <h3><a href="/service-details">Interior Designer</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="text-center mb30">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>

                <div class="row">
                <p> <h3 class="text-primary">&nbsp;&nbsp;Wedding Services</h3>
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/wed-event1.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Caterers</a>
                                    <h3><a href="/service-details">Wedding Caterers</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/wed-event3.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Photography</a>
                                    <h3><a href="/service-details">Wedding Photographer</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/wed-event2.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Bartenders</a>
                                    <h3><a href="/service-details">Functional Bartender</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/wed-event4.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Wedding Makeup</a>
                                    <h3><a href="/service-details">Bridal Makeup Artist</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="text-center mb30">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>

                <div class="row">
                <p> <h3 class="text-primary">&nbsp;&nbsp;Repairs</h3>
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/repair1.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Plumber</a>
                                    <h3><a href="/service-details">Plumber Service</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/repair2.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Vehicle service</a>
                                    <h3><a href="/service-details">Car Servicing & Repair</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/repair3.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Chimney repair</a>
                                    <h3><a href="/service-details">Chimney and Hob Repair</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/repair4.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Microwave repair</a>
                                    <h3><a href="/service-details">Microwave Repair</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="text-center mb30">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>

                <div class="row">
                <p> <h3 class="text-primary">&nbsp;&nbsp;Health and Wellness</h3>
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/health1.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Fitness trainer</a>
                                    <h3><a href="/service-details">Fitness Trainer at Home</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/health2.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Dietician</a>
                                    <h3><a href="/service-details">Dietician Guides at home</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/health3.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Yoga Trainer</a>
                                    <h3><a href="/service-details">Yoga Trainer at Home</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/health4.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Physiotherapy repair</a>
                                    <h3><a href="/service-details">Physiotherapy at Home</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="text-center mb30">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>

                <div class="row">
                <p> <h3 class="text-primary">&nbsp;&nbsp;Shifting Homes</h3>
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/shifting-homes1.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Home cleaning</a>
                                    <h3><a href="/service-details">Home Deep Cleaning</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/shifting-homes2.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Bathroom cleaning</a>
                                    <h3><a href="/service-details"> Bathroom Deep Cleaning</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/shifting-homes3.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Dry cleaners</a>
                                    <h3><a href="/service-details">Dry Cleaning</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-3 mb30">
                        <div class="card-overlay">
                            <img src="images/services-events/shifting-homes4.jpeg" class="img-responsive" alt="">
                            <div class="card-hover">
                                <div class="card-content">
                                    <a class="label label-primary" href="/service-details">Packers & Movers</a>
                                    <h3><a href="/service-details">Packers & Movers</a></h3>
                                    <ul class="list-inline mb0 rating-list">
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star text-warning"></i></li>
                                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                    </ul>
                                </div><!--/card-content-->
                                <div class="card-icons">
                                    <a href="/service-details" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="/service-details" title="View Detail"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="text-center mb30">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>
            </div>
        </div>
        <div class="pt80 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40">
                        <h2>Browse our listing</h2>
                        <!-- <p>
                            List most recent places are submitted by our users. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb10">                   
                        <ul class="list-unstyled row listing-categories">
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-cutlery"></i>
                                    Restaurants
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">5</span> Breakfast</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">7</span>Brunch</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">9</span>Lunch</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">14</span>Dinner</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-map-marker"></i>
                                    Travel
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">11</span>Destinations</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">23</span>Holidays</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">17</span>Transportations</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">32</span>Swimming</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-home"></i>
                                    Real Estate
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">33</span>Villa</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">22</span>For Rent</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">42</span>For Sale</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">54</span>Apartment</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->

                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-desktop"></i>
                                    Computer &amp; Software
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">21</span>Hardware</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">9</span>Software</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">22</span>Games</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">122</span>Templates</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="clearfix"></li>
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-car"></i>
                                    Automotive
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">21</span>For Buy</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">43</span>For Sale</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">12</span>Mechanics</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">54</span>Gas Station</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-glass"></i>
                                    Nightlife
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">4</span>Bar &amp; pubs</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">7</span>Concert</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">9</span>Cinemas</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">3</span>Disco</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-suitcase"></i>
                                    Jobs
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">6</span>Consulting</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">3</span>law firms</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">9</span>Accounts</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">8</span>Cook</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-medkit"></i>
                                    Medicine
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">13</span>Dental</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">21</span>Neurology</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">12</span>Heart</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">16</span>Eye</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="clearfix"></li>
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-gamepad"></i>
                                    Sports
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">1</span>Football</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">2</span>Games</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">3</span>Golf</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">9</span>Tickets</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-users"></i>
                                    Pets
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">3</span>Dogs</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">4</span>Cats</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">8</span>Golf</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">5</span>Birds</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-user-o"></i>
                                    Education
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">3</span>Design</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">4</span>App Development</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">8</span>Android</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">5</span>AngularJs</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="col-md-3 mb30">
                                <div class="listing-header">
                                    <i class="fa fa-shopping-bag"></i>
                                    For Sale
                                </div>
                                <ul class="list-unstyled">
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">3</span>Cloths</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">4</span>Accessories</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">8</span>Decoration</a></li>
                                    <li><a href="/service-details"><span class="badge badge-default pull-right">5</span>Auto</a></li>
                                    <li class="more-link"><a href="/service-details">View All</a></li>
                                </ul>
                            </li><!--/li-->
                            <li class="clearfix"></li>
                        </ul>
                    </div>

                </div>
                <div class="text-center mb40">
                    <a href="/service-details" class="btn btn-lg btn-rounded btn-primary">View All Listing</a>
                </div>
            </div>
        </div>  
        <div class="bg-faded pt80 pb40 mb70 ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb30">
                        <div class="icon-center-card">
                            <i class="fa fa-envelope-o"></i>
                            <h3>Full support</h3>
                            <p>
                               We provide high quality &trusted professionals, we provide only verified, background checked and high quality professionals. </p>
                            <a href="/about#">Read More...</a>
                        </div>
                    </div><!--/col-->
                    <div class="col-sm-4 mb30">
                        <div class="icon-center-card">
                            <i class="fa fa-map-marker"></i>
                            <h3>More than 200 places</h3>
                            <p>
                                Hassle Free Service Delivery with
                                Super convenient, guaranteed service from booking to delivery. 
                            </p>
                            <a href="/about">Read More...</a>
                        </div>
                    </div><!--/col-->
                    <div class="col-sm-4 mb30">
                        <div class="icon-center-card">
                            <i class="fa fa-code"></i>
                            <h3>Free updated</h3>
                            <p>
                                Matched to Your Needs.
                                We match you with the right professionals with the right budget </p>
                            <a href="/about">Read More...</a>
                        </div>
                    </div><!--/col-->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40">
                    <h2>Promoted Locations</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                </div>
            </div>           
        </div>
        <div class="owl-carousel owl-theme owl-places mb40">
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img1.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Drinks</a>
                            <h3><a href="index-3.html#">Tasty Coffee</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img2.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Restaurant</a>
                            <h3><a href="index-3.html#">Italian Food</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img3.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Vacation</a>
                            <h3><a href="index-3.html#">Beach Life</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img4.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Property</a>
                            <h3><a href="index-3.html#">House Rent</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img5.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Bars</a>
                            <h3><a href="index-3.html#">Soft Drink</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img6.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Swimming</a>
                            <h3><a href="index-3.html#">Swimming Pools</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img7.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Electronics</a>
                            <h3><a href="index-3.html#">Mobile Stores</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-overlay">
                    <img src="images/img8.jpg" class="img-responsive" alt="">
                    <div class="card-hover">
                        <div class="card-content">
                            <a class="label label-primary" href="index-3.html#">Shop</a>
                            <h3><a href="index-3.html#">Cloth Stores</a></h3>
                            <ul class="list-inline mb0 rating-list">
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star text-warning"></i></li>
                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                            </ul>
                        </div><!--/card-content-->
                        <div class="card-icons">
                            <a href="index-3.html#" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="index-3.html#" title="View Detail"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mb70">
            <h3 class="font300 mb20">Want to Promote your location</h3>
            <a href="/add-listing" class="btn btn-rounded btn-lg btn-dark">Promote Here</a>
        </div>
        <div class="gray-bg pt80 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40">
                        <h2>What our customers say</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-0">                     
                        <div class="owl-carousel owl-theme testimonial-slider mb40">
                            <div class="item">
                                <div class="testimonial-card">
                                    <div class="content">
                                        " There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "
                                    </div>
                                    <div class="testimonial-author clearfix">
                                        <img src="images/av1.jpg" alt="" class="img-responsive img-circle pull-left" width="90">
                                        <div class="author-meta">
                                            <h5 class="mb0">John Doe</h5>
                                            <em>Finder Customer</em>
                                            <ul class="list-inline mb0 rating-list">
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/item-->
                            <div class="item">
                                <div class="testimonial-card">
                                    <div class="content">
                                        " There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "
                                    </div>
                                    <div class="testimonial-author clearfix">
                                        <img src="images/av2.jpg" alt="" class="img-responsive img-circle pull-left" width="90">
                                        <div class="author-meta">
                                            <h5 class="mb0">John Doe</h5>
                                            <em>Finder Customer</em>
                                            <ul class="list-inline mb0 rating-list">
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/item-->
                            <div class="item">
                                <div class="testimonial-card">
                                    <div class="content">
                                        " There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "
                                    </div>
                                    <div class="testimonial-author clearfix">
                                        <img src="images/av3.jpg" alt="" class="img-responsive img-circle pull-left" width="90">
                                        <div class="author-meta">
                                            <h5 class="mb0">John Doe</h5>
                                            <em>Finder Customer</em>
                                            <ul class="list-inline mb0 rating-list">
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star text-warning"></i></li>
                                                <li><i class="fa fa-star-half-empty text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/item-->
                        </div><!--/slider-->
                    </div>
                </div>
            </div>
        </div>
        <div class="dark-bg pt80 pb40 mb70 bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(images/bg3.jpg)'>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40">
                        <h2>Events near you</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb40">
                        <div class="event-card">
                            <div class="date-icon">
                                <div class="text-center">
                                    25 <span>March</span>
                                </div>
                            </div>
                            <span><i class="fa fa-clock-o"></i> 8:00 Am - 11:00 Pm</span>
                            <h4 class="mt10"><a href="index-3.html#">Nulla faucibus convallis dui</a></h4>
                            <p>
                                Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque.
                            </p>
                            <div class="text-left more-link">
                                <a href="index-3.html#">View Detail</a>
                            </div>
                        </div>
                    </div><!--/col-->
                    <div class="col-sm-4 mb40">
                        <div class="event-card">
                            <div class="date-icon">
                                <div class="text-center">
                                    25 <span>March</span>
                                </div>
                            </div>
                            <span><i class="fa fa-clock-o"></i> 8:00 Am - 11:00 Pm</span>
                            <h4 class="mt10"><a href="index-3.html#">Nulla faucibus convallis dui</a></h4>
                            <p>
                                Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque.
                            </p>
                            <div class="text-left more-link">
                                <a href="index-3.html#">View Detail</a>
                            </div>
                        </div>
                    </div><!--/col-->
                    <div class="col-sm-4 mb40">
                        <div class="event-card">
                            <div class="date-icon">
                                <div class="text-center">
                                    25 <span>March</span>
                                </div>
                            </div>
                            <span><i class="fa fa-clock-o"></i> 8:00 Am - 11:00 Pm</span>
                            <h4 class="mt10"><a href="index-3.html#">Nulla faucibus convallis dui</a></h4>
                            <p>
                                Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque.
                            </p>
                            <div class="text-left more-link">
                                <a href="index-3.html#">View Detail</a>
                            </div>
                        </div>
                    </div><!--/col-->
                </div>
            </div>
        </div>
        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center center-heading mb40">
                    <h2>Latest from blog</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb40">
                    <div class="post-card">
                        <a href="index-3.html#"><img src="images/img2.jpg" alt="" class="img-responsive mb15"></a> 
                        <div class="post-content">
                            <h4><a href="index-3.html#">Standard post with image</a></h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-sm-4 mb40">
                    <div class="post-card">
                        <a href="index-3.html#"><img src="images/img3.jpg" alt="" class="img-responsive mb15"></a> 
                        <div class="post-content">
                            <h4><a href="index-3.html#">Standard post with image</a></h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-sm-4 mb40">
                    <div class="post-card">
                        <a href="index-3.html#"><img src="images/img4.jpg" alt="" class="img-responsive mb15"></a> 
                        <div class="post-content">
                            <h4><a href="index-3.html#">Standard post with image</a></h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
            </div>
        </div>
        <div class="gray-bg pt40 pb40 newsletter-form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <p><h3 class="text-primary">
                            Subscribe and be notified about new Services</h3>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="newsletter-card">                          
                            <form>
                                <input type="text" class="form-control" placeholder="Enter your Email...">
                                <input type="submit" value="Subscribe" class="newsletter-submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
