<title>Credit Login / Register Form a Responsive Widget Template :: Restorant Booking in Bangalore</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Credit Login / Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" > 

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Custom Theme files -->
<link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/style-index.css" rel="stylesheet" type="text/css" media="all" />

<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<link href="/assets/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />

<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

